#title {
    height: 16px;
}

#title-label {
    display: None;
}

#node-border {
    border-radius: 10px;
}

#selection-border {
    border-radius: 12px;
}

#top {
    flex-direction: row
}

#top #divider {
    width: 27px;
}

PortView > Label {
    visibility: hidden;
    width: 0;
}