#title {
    height: 16px;
}

#title.input {
    flex-direction: row-reverse;
}

#node-border {
    border-radius: 10px;
}

#selection-border {
    border-radius: 12px;
}

#title > Label {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 11px;
}

#title #top PortView {
    padding-right: 0;
    padding-left: 0;
}

PortView > Label {
    visibility: hidden;
    width: 0;
}