
.mainContainer > #headerContainer {
    flex-direction: row;
}

.mainContainer > #headerContainer > #titleContainer {
    flex-grow: 1;
}

#headerColorPicker {
    margin: 8px;
    width: 50px;
    flex-grow: 0;
}

#expanded {
    flex-grow: 0;
}